:root{
    /* Colores */

    --rojo: rgb(238, 66, 66);
    --blanco: white;
    --amarrillo:yellow;
    --amarrillo-verde: greenyellow;
    /* --violeta-principal: rgb(160, 19, 160); */
    --fondo-principal: #4b2794;
    --botones-otros: #6c589b;
    --botones-operadores: #faa608;
    --botones-numeros: #9055e2;


}

html {
    font-size: 12px;
}

body {
    height: 100vh;
    width: 100%;
    /* background-image: radial-gradient(circle, white, #5a4d79); */
    background-image: url("../img/fondo4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Aplicar opacidad al fondo */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Opacidad del fondo */
    background-color: rgba(179, 179, 179, 0.55); 
    z-index: -1;
  }

#calculadora {
    
    /* border: 0.25rem solid rgb(104, 103, 103); */
    border: 0.4rem solid rgb(60, 60, 60);
    border-radius: 1rem;
    /* margin: 0 auto; */
    box-shadow: 1.5rem 1.5rem 1.5rem rgb(79, 80, 121);
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--fondo-principal);
    

    #superior {

        #circulos {
            height: 10px;
            display: inline-flex;
            margin-top: 0.5rem;

            .circulo {
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                margin-left: 0.5rem;
            }

            .c-1{
                background-color: var(--rojo);
            }

            .c-2{
                background-color: var(--amarrillo);
            }

            .c-3{
                background-color: var(--amarrillo-verde);
            }
        }

        h1 {
            font-size: 5rem;
            color: var(--blanco);
            text-align: end;
            padding-right: 0.8rem;
            padding-bottom: 0.3rem;
        }
    }

    #botones {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        button {
            font-size: 2rem;
            padding: 1.5rem;
            width: 7rem;
            color: var(--blanco);
            border: 0.1rem solid var(--fondo-principal);
            cursor: pointer;
            transition: opacity ease .3s;
        }

        button:hover{
            opacity: 0.85;
        }

        button:active{
            opacity: 0.6;
        }

        #btn-cero{
            grid-column: span 2;
            width: 14rem;
            border-bottom-left-radius: 1rem;
        }

        #igual{
            
            border-end-end-radius: 1rem;
        }

        .oscuro{
            background-color: var(--botones-otros);
        }

        .naranja{
            background-color: var(--botones-operadores);
        }

        .gris{
            background-color: var(--botones-numeros);
        }

        
    }
}